body {
  margin: 1;
}

div {
 margin: 10px;
 position: relative;
 float: left;
}

h1{
  margin: 2px;
}

hr {
width: 10%;
border: solid;
margin: 0;
margin-bottom: 10px;
}

img {
  width: 200px;
}

p {
 font-family: fantasy;
 position: absolute;
 color: red;
 display: inline;
 bottom: 0px;
 left: 65%;
}

section {
 float: left;
}
